<div class="phone-input container">
    <p-dropdown id="countrypicker" [options]="countries" [(ngModel)]="currentCountry" (ngModelChange)="ddiChange.next(currentCountry.ddi)" [optionLabel]="language" [filter]="true" [filterBy]="language"  placeholder="Select a Country">
        <ng-template pTemplate="selectedItem">
            <div class="country-item country-item-value" *ngIf="currentCountry">
                <img src="assets/img/flags/{{currentCountry.code}}.svg" [class]="'iti__flag iti__' + currentCountry.code.toLowerCase()" />
                <span class="cml-1">{{currentCountry.ddi}}</span>
            </div>
        </ng-template>
        <ng-template let-country pTemplate="item">
            <div class="country-item">
                <img src="assets/img/flags/{{country.code}}.svg" class="iti__flag" />
                <div class="cml-1">{{country[language]}}</div>
                <div class="cml-1 opacity-5">{{country.ddi}}</div>
            </div>
        </ng-template>
    </p-dropdown>
    <p-inputMask [autoClear]="true"  (onBlur)="checkPhoneOnBlur($event)" type="text" slotChar="" id="world-phone-input" [(ngModel)]="enteredPhone" [mask]="currentCountry.mask" [placeholder]="currentCountry.mask"></p-inputMask>
</div>